@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: 'Poppins', sans-serif;
}
.wrapper{
  background: #171c24;
  position: fixed;
  width: 100%;
}
.wrapper nav{
  position: relative;
  display: flex;
  max-width: calc(100% - 200px);
  margin: 0 auto;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}
nav .content{
  display: flex;
  align-items: center;
}
nav .content .links{
  margin-left: 80px;
  display: flex;
}
.content .logo a{
  color: #fff;
  font-size: 30px;
  font-weight: 600;
}
.content .links li{
  list-style: none;
}
.content .links li a,
.content .links li label{
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 9px 17px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.content .links li label{
  display: none;
}
.content .links li a:hover,
.content .links li label:hover{
  background: #323c4e;
}
.wrapper .search-icon,
.wrapper .menu-icon{
  color: #fff;
  font-size: 18px;
  cursor: pointer;
  line-height: 70px;
  width: 70px;
  text-align: center;
}
.wrapper .menu-icon{
  display: none;
}
.wrapper #show-search:checked ~ .search-icon i::before{
  content: "\f00d";
}
.wrapper .search-box{
  position: absolute;
  height: 100%;
  max-width: calc(100% - 50px);
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s ease;
}
.wrapper #show-search:checked ~ .search-box{
  opacity: 1;
  pointer-events: auto;
}
.search-box input{
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  font-size: 17px;
  color: #fff;
  background: #171c24;
  padding: 0 100px 0 15px;
}
.search-box input::placeholder{
  color: #f2f2f2;
}
.search-box .go-icon{
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  line-height: 60px;
  width: 70px;
  background: #171c24;
  border: none;
  outline: none;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.wrapper input[type="checkbox"]{
  display: none;
}
/* Dropdown Menu code start */
.content .links ul{
  position: absolute;
  background: #171c24;
  top: 80px;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}
.content .links li:hover > ul{
  top: 70px;
  opacity: 1;
  visibility: visible;
  transition: all 0.3s ease;
}
.content .links ul li a{
  display: block;
  width: 100%;
  line-height: 30px;
  border-radius: 0px!important;
}
.content .links ul ul{
  position: absolute;
  top: 0;
  right: calc(-100% + 8px);
}
.content .links ul li{
  position: relative;
}
.content .links ul li:hover ul{
  top: 0;
}
/* Responsive code start */
@media screen and (max-width: 1250px){
  .wrapper nav{
    max-width: 100%;
    padding: 0 20px;
  }
  nav .content .links{
    margin-left: 30px;
  }
  .content .links li a{
    padding: 8px 13px;
  }
  .wrapper .search-box{
    max-width: calc(100% - 100px);
  }
  .wrapper .search-box input{
    padding: 0 100px 0 15px;
  }
}
@media screen and (max-width: 900px){
  .wrapper .menu-icon{
    display: block;
  }
  .wrapper #show-menu:checked ~ .menu-icon i::before{
    content: "\f00d";
  }
  nav .content .links{
    display: block;
    position: fixed;
    background: #14181f;
    height: 100%;
    width: 100%;
    top: 70px;
    left: -100%;
    margin-left: 0;
    max-width: 350px;
    overflow-y: auto;
    padding-bottom: 100px;
    transition: all 0.3s ease;
  }
  nav #show-menu:checked ~ .content .links{
    left: 0%;
  }
  .content .links li{
    margin: 15px 20px;
  }
  .content .links li a,
  .content .links li label{
    line-height: 40px;
    font-size: 20px;
    display: block;
    padding: 8px 18px;
    cursor: pointer;
  }
  .content .links li a.desktop-link{
    display: none;
  }
  /* dropdown responsive code start */
  .content .links ul,
  .content .links ul ul{
    position: static;
    opacity: 1;
    visibility: visible;
    background: none;
    max-height: 0px;
    overflow: hidden;
  }
  .content .links #show-features:checked ~ ul,
  .content .links #show-services:checked ~ ul,
  .content .links #show-items:checked ~ ul{
    max-height: 100vh;
  }
  .content .links ul li{
    margin: 7px 20px;
  }
  .content .links ul li a{
    font-size: 18px;
    line-height: 30px;
    border-radius: 5px!important;
  }
}
@media screen and (max-width: 400px){
  .wrapper nav{
    padding: 0 10px;
  }
  .content .logo a{
    font-size: 27px;
  }
  .wrapper .search-box{
    max-width: calc(100% - 70px);
  }
  .wrapper .search-box .go-icon{
    width: 30px;
    right: 0;
  }
  .wrapper .search-box input{
    padding-right: 30px;
  }
}


/* truyện */
ul.product{
    display: flex;
    flex-wrap: wrap;   
    justify-content: space-between;
    
  }
  ul.product li{
    flex-basis: 25%;
    padding-left: 15px;
   padding-right: 15px;
    box-sizing: border-box;
    margin-bottom: 30px;
    text-align: center;
    list-style: none;
  }
  ul.product li img{
    width: auto;
    height: 300px;
   
  }
  ul.product-info li a{
     text-decoration: none;
      color: #000;
  }
ul.product {
padding: 100px 48px;
}
ul.product li a{
color: #000000;
}
div.results ul li{
list-style: none;
background-color: #14181f;
color: white;
display: none;
}
/* .list {
list-style: none;
background: #14181f;
color: white;
height: 68px;
width: 100%;

}
.list li{
top: -15px;
   width: 100%;
 height: 100%;
font-size: 30px;
} */
ul.product {
    top: 100%;
}
.container {
   margin-top: 138px;
}
.top {
    color: #091337;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    line-height: 1.5;
  }
  .top {
    font-size: 65px;
  }
.body {
    background-color: #fff;
  overflow-x: hidden;
  /* background-image: url(../images/backgrounds/about-bg.png); */
}
/* .pricing {
    background-image: url(../images/backgrounds/seo-bg.png);
    background-size: 100%;
}    */
/* đăng kí */
div#form-group {
    padding: 5px 10px;
    margin-top: 5px;
  }
  input.form-input {
    width: 315px;
    height: 30px;

  }
  .form-submit {
    width: 440px;
   
 padding: 6px 10px;
    
  }
  .form-group i{
    padding-top: 5px;
    padding-right: 10px
  }
  div.eye i{
   
    cursor: pointer;
  }
  div.accept {
    left: 5%;
  }
  div.form {
    text-align: left;
  }
  div.form-group-1 {
    display: flex;
   padding: 5px 13px; 
   align-items: center
  }
  div.form-group-2 {
    display: flex;
    padding: 5px 10px; 
    align-items: center
    
  }
   div.form-group-3 {
    display: flex;
    padding: 5px 10px; 
    align-items: center
  }
  
   div.form-group-4 {
    display: flex;
    padding: 5px 10px; 
    align-items: center
  }
  div.form-group-1 i{
    padding: 5px 12px;
  }
   div.form-group-2 i{
    padding: 5px 12px;
  }
   div.form-group-3 i{
    padding: 5px 12px;
  }
  div.form-group-4 i{
    padding: 5px 12px;
  }
  .login {
    margin-top: 10%;
    margin-left: 30%;
    align-items: center
  }
  .form-heading {
    margin-left: 15%;
   padding: 22px;
  }
  .links {
margin-top: 16px;
  }
@media screen and (max-width: 900px) {
  .links {
  margin-top: 0%;
}
}
.footer {
  height: 100%;
}
.logo-bottom {
margin-left: 0%;
margin-top: 20%;
 width: 25%;
  display: flex;
}
.name-end {
  color: #091337;
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    width: 100%;
    text-align: center;
    /* margin-top: 30px; */
    /* margin-left: 147px; */
    top: 338px;
    height: 77px;
}

.black-logo {
  width: 100%;
  left: 0%;
}
.pogo-part {
  display: flex;
}
.nav-end {
  margin-left: 93%;
}
@media screen and (max-width: 1120px) {
  .name-end {
    top: 60%;
    height: 115px;
  }
}
@media screen and (max-width: 990px) {
  .nav-end {
    margin-left: 45%;
  }
}
@media screen and (max-width: 768px) {
  .nav-end {
    margin-left: 87%;
  }
}